@media screen and (max-width: 650px) {
  #card {
    width: calc(100% - 5%);
  }
  .container {
    width: 95%;
    height: 95%;
  }
}
@media screen and (max-width: 380px) {
  .container {
    width: 96%;
  }
  .menu-pic {
    min-height: 160px;
  }
  #card {
    min-width: calc(100% - 4%);
  }
}
@media screen and (max-height: 400px) {
  .container {
    min-height: 100%;
  }
  #card{
    min-height: 95%;
  }
}
