@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);
html {
  height: 100%;
  width: 100%;
}
:root {
  --font-size: 20px;
  --font-default-color: white;
  --font-style-color: rgb(230 255 0);
}
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 500;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  margin: 0;
}
.cover-page {
  height: 100vh;
  width: 100%;
  background: rgb(0 0 0 / 0.5) url(../img/colourful-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#card {
  min-height: 670px;
  width: 500px;
  background-color: #00000073;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgb(15 15 15 / 0.33);
  border: 1px solid rgb(255 255 255 / 0.18);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--font-default-color);
  text-align: center;
  overflow: hidden;
}
.input-bar {
  margin-top: 1px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-bar button {
  padding: 0.5rem;
  border: none;
  background: red;
  color: #fff;
  border-radius: 0 0 5px 0;
  font-size: 1rem;
  cursor: pointer;
}
#menu-tom,
#menu-today {
  padding: 0.5rem;
  border: none;
  background: none;
  color: #fff;
  border-radius: 0 0 5px 0;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
#menu-today {
  display: none;
}
#menu-today.show {
  display: block;
}
select {
  min-width: 110px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0 4px 4px 0;
  outline: none;
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
  color: #1a120e;
}
optgroup {
  font-weight: 700;
  color: #301d16;
}
.menu-pic {
  min-height: 180px;
  width: 100%;
  background-color: #f6f6f6;
  background-image: url(../img/menucover.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
.menu-pic::after {
  content: "";
  width: 0%;
  z-index: 10;
  height: 3px;
  background: #ff2121;
  transition: width 1.8s ease;
  position: absolute;
  bottom: -3px;
}
.menu-pic.loading::after {
  width: 0%;
}
.menu-pic.loading::after {
  animation: progress 2s ease-in-out;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.day-week {
  margin-left: 25px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub-title {
  margin: 0;
  font-size: 2.3rem;
  color: #301d16;
}
#day {
  position: relative;
}
#day::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 60%;
  height: 4px;
  content: "";
  background-color: #301d16;
  border-radius: 10px;
}
#box {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.meal {
  align-self: center;
  font-size: 1.4rem;
  width: 95%;
}
.meal b {
  color: var(--font-style-color);
}
.data {
  font-size: 1rem;
}
.cop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  background: #e3e3e3e0;
  color: #545454;
  text-align: center;
}
.cop p {
  font-size: clamp(0.9rem, 1vw, 2rem);
  font-family: "poppins", sans-serif;
}
.cop p i {
  color: red;
}
.cop a {
  color: #1717ffe3;
}
